src/main/mule/implementation/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="post:\cases:application\json:uho-uhub-sappi-config">
		<logger level="INFO" doc:name=" Start Logger" doc:id="edba1100-00ed-45bb-acfe-1c2ac4f07e97" message="register covid case flow has started" />
		<ee:transform doc:name="Transform Message" doc:id="27c7ff45-41d4-4b16-ba8f-53b9c9a2e970" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="covidPayload" ><![CDATA[%dw 2.0
output application/json
---
{
	national_id: payload.nationalID,
	street_address: payload.address.streetAddress,
	country: payload.address.country,
	city: payload.address.city,
	date_of_birth: payload.dateOfBirth,
	case_type: payload.caseType,
	last_name: payload.lastName,
	source: payload.source,
	national_id_type: payload.nationalIDType,
	phone: payload.phone,
	state: payload.address.state,
	postal: payload.address.postal,
	first_name: payload.firstName,
	email: payload.email
}]]></ee:set-variable>
				<ee:set-variable variableName="transactionID" ><![CDATA[attributes.headers.'x-transaction-id' as String default uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:insert doc:name="Insert" doc:id="6b82b03d-6577-403e-9801-029d2c34f49c" config-ref="Database_Config" autoGenerateKeys="true" >
			<db:sql ><![CDATA[insert into uhub (source,case_type,first_name,last_name,phone,email,date_of_birth,national_id,national_id_type,street_address,city,state,postal,country) values (:source,:case_type,:first_name,:last_name,:phone,:email,To_date(:date_of_birth, 'YYYY-MM-DD'),:national_id,:national_id_type,:street_address,:city,:state,:postal,:country)
]]></db:sql>
			<db:input-parameters ><![CDATA[#[vars.covidPayload]]]></db:input-parameters>
			<db:auto-generated-keys-column-names >
				<db:auto-generated-keys-column-name value="CASE_ID" />
			</db:auto-generated-keys-column-names>
		</db:insert>
		<ee:transform doc:name="Transform Message1" doc:id="34b041a8-4f94-4450-aea1-ed1869017d46" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	caseID : payload[0].CASE_ID
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="statusCode" ><![CDATA[200]]></ee:set-variable>
				<ee:set-variable variableName="statusPhrase" ><![CDATA["OK"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="End Logger" doc:id="842b0545-3fd3-42b4-93d2-85f63727bada" message="register covid case flow has ended" />

    </flow></mule>
